/* Základní reset a font */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8f9fa;
}

/* Nadpisy ve fontu Poppins */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

/* Vlastní tlačítko - oranžová */
/* Vlastní tlačítko - správná meruňková barva */
.btn-orange {
  background-color: #FFAC76 !important;
  color: #000 !important;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-orange:hover {
  background-color: #e8934f !important;
  color: #000 !important;
}
.btn-blue {
  display: inline-block;
  background-color: #000DD2 !important;
  color: #fff !important;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-blue:hover {
  background-color: #0000aa !important;
  color: #fff !important;
}


@font-face {
  font-family: 'Super Larky';
  src: url('/fonts/SuperLarky-nALLR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}.logo-font {
  font-family: 'Super Larky', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #000;
}




